<div class="form_div">
  <div class="top_padding"></div>
  <div class="container form_row">
  <%= form_for @post, class: '' do |f| %>
    <div class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <%= f.label :latitude %>
          <%= f.number_field :latitude, id: "latitude", placeholder: "", step: :any %>
        </div>
        <div class="input-field col s6">
          <%= f.label :longitude %>
          <%= f.number_field :longitude, id: "longitude", placeholder: "", step: :any %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s1">
          <%= f.label :location %>
          <%= f.text_field :location, id: "location", placeholder: "", class: 'validate' %>
        </div>
        <div class="input-field col s6">
          <%= f.label :miles %>
          <%= f.text_field :miles, id: "miles", placeholder: "", class: 'validate' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.label :title %>
          <%= f.text_field :title, id: "title", placeholder: "", class: 'validate' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_area :body, class: 'materialize-textarea', id: "body", placeholder: "" %>
          <%= f.label :body %>
        </div>
      </div>

      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <%= f.file_field :images, multiple: true, direct_upload: true %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Upload one or more files" />
        </div>
      </div>

      <div class="text-center my-5">
        <%= link_to "Back", :back, class: "btn" %>
        <%= f.submit "Submit", id: "Submit", class: "btn" %>
      </div>

    </div>
  <% end %>
</div>
